<!DOCTYPE html>
<html>
    {% include 'partials/head.html'%}
    <body>
    {% include 'partials/nav.html'%}
    <main>
        <div class="container">
            <h1>{{store.getName}}</h1>
            <hr>
            {% if stores is not empty %}
            <h4> Stores that carry {{ brand.getName }}</h4>
            <ul>
            {% for store in stores %}
                <li><a href="/store/{{ store.getId }}">{{ store.getName }}</a></li>
                <form action="/brand/{{ brand.getId }}/store/{{ store.getId }}/delete" method="post">
                    <input name="_method" type="hidden" value="delete">
                    <button type="submit" class="btn icon-btn"><i class="fa fa-times"></i></button>
                </form>
            {% endfor %}
            </ul>
            {% endif %}
            <h5>Add stores that carry {{ brand.getName }}</h5>
            <div class="row">
                <form class="col s12" action="/brand/{{ brand.getId }}/add_store" method="post">
                    <div class="input-field col s12">
                        <label for="name">Store Name:</label>
                        <input type="text" name="name">
                    </div>
                    <button type="submit" class="btn waves-effect waves-light add-btn">Add</button>
                </form>
            </div>
        </div>
    </main>

    {% include 'partials/footer.html'%}
    </body>
</html>
