<!DOCTYPE html>
<html>
    {% include 'partials/head.html'%}
    <body>
    {% include 'partials/nav.html'%}
    <main>
        <div class="container">
            <h1>{{store.getName}}</h1>
            <hr>
            {% if brands is not empty %}
            <h5> Brands available at {{store.getName}}:</h5>
            <ul>
            {% for brand in brands %}
                <li>
                    <h5><a href="/brand/{{ brand.getId }}">{{ brand.getName }}</a>
                    <form action="/brand/{{ brand.getId }}/delete" method="post">
                        <button type="submit" class="btn icon-btn"><i class="fa fa-times"></i></button>
                    </form></h5>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
            <h5>Add brands to {{ store.getName }}</h5>
            <div class="row">
                <form class="col s12" action="/store/{{ store.getId }}/add_brand" method="post">
                    <div class="input-field col s12">
                        <label for="name">Brand Name:</label>
                        <input type="text" name="name">
                    </div>
                    <button type="submit" class="btn waves-effect waves-light">Add</button>
                </form>
            </div>
        </div>
    </main>

    {% include 'partials/footer.html'%}
    </body>
</html>
